p {
  font-size: 1.6rem;
}
label {
  font-size: 1.6rem;
}
.form-control {
  width: 100%;
}
.tool-tip-box {
  display: grid;
  place-items: center;
  margin-top: 3rem;
}
.tool-tip-text {
  font-weight: 600;
  font-size: 2rem;
  color: #333;
}
.custom-tooltip {
  display: inline-block;
  width: max-content;
  position: absolute;
  padding: 0.3em 0.6em;
  background-color: #f5f5f5;
  border: 1px solid #aaa;
  border-radius: 0.6em;
}
